<div *ngIf="resultado; else elseBlock">

  <h3>Resultados: {{ resultado.total_count }}</h3>
  <ul>
    <li *ngFor="let elemento of resultado.items">
      <a [href]="elemento.html_url">
        <img [src]="elemento.owner.avatar_url" />
        <h4>
          {{ elemento.name }}
          <small> by {{ elemento.owner.login }}</small>
        </h4>
      </a>
      <p>{{ elemento.description }}</p>
      <p>Created On: {{ elemento.created_at | date : "fullDate" }}</p>
    </li>
  </ul>

</div>

<ng-template #elseBlock>loading...</ng-template>
